<%= link_to "添加任务", new_project_todo_path(@project) %>
<%= link_to "添加清单", new_project_list_path(@project) %>

<h2>任务</h2>
<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= "#{todo.name} 指派给: #{todo.assignee.try(:name)}  #{todo.due_date}"  %>
      <%= link_to "编辑", edit_project_todo_path(@project, todo) %>
      <% if @deletable %>
        <%= link_to "删除", { controller: :todos, action: :destroy , id: todo.id }, method: :delete, data: { confirm: "确定删除吗?" } %>
      <% end %>
      <%= link_to "完成", { controller: :todos, action: :finish , id: todo.id }, method: :put %>
      <%= link_to "评论", comment_project_todo_path(@project, todo) %>
    </li>

  <% end %>
</ul>

<h2>我的清单</h2>

<ul>
  <% @lists.each do |list| %>
    <li><p><%= list.name %></p>
      
      <ul>
      <% list.todos.unfinished.active.each do |todo| %>
        <li>
          <%= "#{todo.name} 指派给: #{todo.assignee.try(:name)}  #{todo.due_date}"  %>
          <%= link_to "编辑", edit_project_todo_path(@project, todo) %>
          <% if @deletable %>
            <%= link_to "删除", { controller: :todos, action: :destroy , id: todo.id }, method: :delete, data: { confirm: "确定删除吗?" } %>
          <% end %>
          <%= link_to "完成", { controller: :todos, action: :finish , id: todo.id }, method: :put %>
          <%= link_to "评论", comment_project_todo_path(@project, todo) %>
        </li>

      <% end %>
      </ul>

      <br/>
      <%= link_to "添加新任务", new_project_todo_path(@project, list_id: list.id) %>

    </li>

    <hr />
  <% end %>
</ul>

<h2>已完成任务</h2>
<ul>
  <% @finished_todos.each do |todo| %>
    <li>
      <%= "#{todo.name} 指派给: #{todo.assignee.try(:name)}  #{todo.due_date}"  %>
      <% if @deletable %>
        <%= link_to "删除", { controller: :todos, action: :destroy , id: todo.id }, method: :delete, data: { confirm: "确定删除吗?" } %>
        <%= link_to "评论", comment_project_todo_path(@project, todo) %>
      <% end %>
    </li>

  <% end %>
</ul>